<div class="container">
    <div class="top">
        <nav>
            <b>&#xe63a;</b>
            <a href="">My Account</a>
            <i>&gt;</i>
            <a href="">My Orders</a>
            <i>&gt;</i>
            <em>View Detail</em>
        </nav>
    </div>
    <div class="main">
        <div class="m_orderStatus">
            <div>
                <h2>Order Status: Completed</h2>
            </div>
            <div>
                <h2>Beautural Warm Reminder</h2>
                <div class="c_info">
                    <p>1、The deal is completed, if you haven’t received the product yet or the product can’t work, please feel free to contact us at any time. </p>
                </div>
            </div>
        </div>
        <div class="m_viewDetail">
            <h2>View Detail </h2>
            <div>
                <table class="c_orderTime">
                    <tbody>
                        <tr>
                            <th>Order No.：</th>
                            <td>533062908425665</td>
                            <th>Payment Account：</th>
                            <td colspan="3">20140210110010001060023899917</td>
                        </tr>
                        <tr>
                            <th>Order Time：</th>
                            <td>2014-10-22 22：45：18</td>
                            <th>Payment Time：</th>
                            <td>2014-10-22 22：51：45</td>
                            <th>Confirmation Time：</th>
                            <td>2014-10-24 09：31：42</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="6"></td>
                        </tr>
                    </tfoot>
                </table>
                <table class="t_orderTable">
                    <thead>
                        <tr>
                            <th width="278">Product</th>
                            <th>Specification</th>
                            <th>Quantity </th>
                            <th>Unit Price ($)</th>
                            <th>Total Amount ($)</th>
                            <th>Freight ($)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="s_name">
                                <a class="p_imgText" href="">
                                    <img src="http://img1.atido.com/8/2014/07/02/ad1d022312dc.jpg!100" alt="">
                                    <span>NutritionGRAIN DIETARY FIBER TABLETTING CANDY</span>
                                </a>
                            </td>
                            <td>60 pieces/bottle</td>
                            <td>1</td>
                            <td>$158.00</td>
                            <td>168.00</td>
                            <td>10.00</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="6">
                                <span>Order Total：<em>$168.00</em></span>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
