<!-- including header -->  		
<?php include ("ucenter_header.html"); ?>
          
      
<!-- BEGIN #page -->
<div class="container">
            	
            	
     <div class="row ucenter">
            		
          
      <!-- including left menu -->  		
      <?php include ("ucenter_menu.html"); ?>
            		
            		
         
      <!-- main content -->
       <div class="cont lm-col-9  paddingTop40">
       <div class="user_center_header">
       <h3 class="paddingLeft25">My promo code is:</h3>
       </div>
            			 
            			
            			
       </div>
            		
            		
       <div class="cont lm-col-9  paddingTop40">
        
 		<span class="get_my_promo"> <span class="border"><?php echo $userPromo['promo']; ?></span></span>
 		

</div>       
         
     
   		 
  	   </div>
            		
  
       </div>
            	
       </div>
       <!-- end container -->

<!-- including footer -->  		
<?php include ("ucenter_footer.html"); ?>