<!-- including header -->  		
<?php include ("ucenter_header.html"); ?>
          
      
<!-- BEGIN #page -->
<div class="container">
            	
            	
     <div class="row ucenter">
            		
          
      <!-- including left menu -->  		
      <?php include ("ucenter_menu.html"); ?>
            		
            		
         
      <!-- main content -->
       <div class="cont lm-col-9  paddingTop40">
       <div class="user_center_header">
       <a name="chapter"></a> <h3 class="paddingLeft25"><?php echo $seo_ucenter_title; ?></h3>
       </div>
            			 
            			
            			
       </div>
            		
   		
       <div class="cont lm-col-9  paddingTop40">
            
  
 <div class="myPassword">
 	
 	<form action="" method="post" name="ucenter_password" id="ucenter_password">
 		
 		<?php if (is_null($login_method)) { ?>
 			<span class="legend">Current Password:</span> <input type="text"  name="current_password" id="current_password">
 		<?php } ?>
 		<span class="legend">New Password:</span> <input type="text"  name="new_password" id="new_password"  value=""/>
 		<span class="legend">Confirm Password:</span> <input type="text"  name="confirm_password" id="confirm_password" value=""/> 		 		
 		
 		<!--<input type="submit" value="Change" onclick="updatePassword(1,2);"/>-->
 		<input type="submit" value="Change"/>
 	</form>
 	
 	
 </div> 
   
       	 	 
  	   </div>
            		
            		
		

     		
      
       </div>
            	
       </div>
       <!-- end container -->

<!-- including footer -->  		
<?php include ("ucenter_footer.html"); ?>