<!-- tabs Recomendation etc 
	
	0 = Recomendation function
	1 = Featured function
	
	-->
<div class="clear"></div>
<div class="featured">
	<div class="user_center_header">
	<h3 class="paddingLeft25"></h3>
		<div class="tabsAjax">
		<a class="tabAjax initial_ajaxButton_color" onclick="LoadContent(0); return false;">Recommendation</a>
		<a class="tabAjax" onclick="LoadContent(1); return false;">Popular</a>
		
		</div>
	</div>
	
	<div id="ajaxContent">
		<script> LoadContent(0);</script>
	</div>
</div>
<!-- END tabs Recomendation etc -->