      
        <?php include(TEMPLATE_DIR.'ca_footer.html'); ?>
        </div>
        <!-- END wrap -->
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1254890388'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1254890388' type='text/javascript'%3E%3C/script%3E"));</script>

<script>
jQuery( "a.toogle_menu" ).click(function(event) {
	//console.log(jQuery(this).data("toogle_menu"));
	var toogled_menu = jQuery(this).data("toogle_menu");
  event.preventDefault();
  jQuery( "ul.toogle_ul."+toogled_menu ).toggle();
});
</script>




    </body>
</html>