<!DOCTYPE html>
<!--[if IE 8]>
<html class="no-js lt-ie9 yes-responsive lol-sticky-header-yes header-transparent  blog-classic " lang="en-US">
<![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js yes-responsive lol-sticky-header-yes header-transparent  blog-classic " lang="en-US">
    <!--<![endif]-->
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
        <?php include(TEMPLATE_DIR.'ca_seo_ucenter.html'); ?>
        <?php include(TEMPLATE_DIR.'ca_head.html'); ?>
        
        <link href='https://fonts.googleapis.com/css?family=Oxygen:400,700,300' rel='stylesheet' type='text/css'>
        
        <link rel="stylesheet" href="/css/ca/ucenter.css"> 
   	 	<script src="js/ca/ucenter/ajax_data.js"></script>
 
	<!-- simple modal --> 
  	<link rel="stylesheet" href="/js/ca/ucenter/modal/simplePopup.css"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

 
	<link rel="stylesheet" href="/css/ca/base.css">
 	<link rel="stylesheet" href="/css/ca/mobile_ucenter.css">
 	<link rel="stylesheet" href="/css/ca/woocommerce.css"> 
 
   	 
    </head>
  	<!-- <div id="pop1" class="simplePopup">
     <p>To get your promotional code follow next steps:
    	
    	
    	<ol>
    		<li>Comming soon ...</li>
    	</ol>
    	</p>
</div>
 
<div id="pop2" class="simplePopup">
    <p>This function is <span class="blackBackground ">not available</span> right now. Please check again a bit later.</p>
 
</div> -->
    <body class="home page page-id-11 page-template-default">

        <!--  BEGIN sidebar -->
        <?php include(TEMPLATE_DIR.'sidebar.html'); ?>
        <!--  END sidebar -->

        <!-- BEGIN wrap -->
        <div id="wrap">
            <!-- BEGIN branding -->
            <?php include(TEMPLATE_DIR.'ca_header.html'); ?>
            <!-- END branding -->
       
       
       <div style="background-color: #eee; height: 120px; width: 100%;" class="not_mobile"></div>