<footer class="footer">
    <fieldset>
        <legend>About YIDEJIA</legend>
    </fieldset>
    <ol class="a_info">
        <li>
            <h4>Why Choose Us</h4>
            <p>YIDEJIA is a shopping website designed for women, which includes  skin care, makeup, clothing and so on, with an aim to let every woman buy the best quality products.</p>
        </li>
        <li>
            <h4>World-class High Quality</h4>
            <p>Each kind of product has to undergo a rigorous inspection and quality control procedures to ensure each item in line with world standards and women all around the world have access to the most trusted products.</p>
        </li>
        <li>
            <h4>Friendly Customer Service</h4>
            <p>It provides a pair of services, from purchase to after sale service, our beauty group including consultant, dietitian, makeup artist and designer will offer you professional beauty advice, making you more charming and attractive.</p>
        </li>
        <li>
            <h4>Convenient Worldwide Delivery</h4>
            <p>Cooperates with trustworthy international logistics service providers, such as DHL，UPS，FEDEX etc. Delivers in your hand the products safely in the shortest time.</p>
        </li>
    </ol>
    <div>
        <img src="http://static.yidejia.com/images/international/paypal.png" alt="">
        <img src="http://static.yidejia.com/images/international/ems.png" alt="">
        <img src="http://static.yidejia.com/images/international/fedex.png" alt="">
        <img src="http://static.yidejia.com/images/international/dhl.png" alt="">
        <img src="http://static.yidejia.com/images/international/ups.png" alt="">
    </div>
    <section>© Copyright 2014-2019 YIDEJIA.com.All rights reserved.</section>
    <nav class="J_fixed">
        <a href="javascript:;">
            <img src="http://static.yidejia.com/images/international/mailbox.png" alt="">
        </a>
        <a class="e_facebook" href="https://www.facebook.com/Acymerskincare" target="_blank" title="facebook">&#xe62a;</a>
        <a class="e_youtube" href="https://www.youtube.com/user/beautural" target="_blank" title="youtube">&#xe62c;</a>
        <a class="e_twitter" href="https://twitter.com/beautural" target="_blank" title="twitter">&#xe62b;</a>
        <a class="e_gray J_closeFixed" href="javascript:;" title="close">&#xe625;</a>
        <a class="e_gray J_top" href="javascript:;" title="top">&#xe618;</a>
    </nav>
</footer>
<script type="text/javascript" src="http://static.yidejia.com/min/b=js&f=core/jquery.js,library/carousel/carousel1.4.js,international/header.js,international/footer.js,library/popbox_en.js,library/dverify.js"></script>
<script type="text/javascript" src="http://static.yidejia.com/min/b=js&f=international/index.js,library/jquery.jqzoom.js,international/info.js,clothing/jwplayer.js,clothing/video.js,international/cart.js,international/settlement.js,international/order.js"></script>
<script type="text/javascript">
    var _maq = _maq || [];
    _maq.push(['_setAccount', '网站标识']);

    (function() {
        var ma = document.createElement('script'); ma.type = 'text/javascript'; ma.async = true;
        ma.src = ('https:' == document.location.protocol ? 'https://jzstatic' : 'http://jzstatic') + '.qiniudn.com/Js/ydj/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ma, s);
    })();
</script>
</body>
</html>